<div ng-repeat="project in projects" class="container img-rounded" ng-cloak >
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="top-headd headd">
        <span class="glyphicon glyphicon-calendar"></span>
          <div  style="display:block; float: left; width:600px;  font-size:16px;">
            <span class="project-name" >{{::project.name}}</span>
            <span ng-if="project.deadline">due date:{{::project.deadline| date:"MM/dd/yyyy 'at' h:mma"}}</span>
          </div>
         <span class="glyphicon glyphicon-pencil" ng-click="lol(this)"> </span>
         <span class="glyphicon glyphicon-trash" ng-click="deleteProject(project.id)"></span>
          <div ng-if="project.showEdit()"></div>
        </div>
       <div class="bottom-headd headd">
        <div class='glyphicon-plus-wrap'><span class="glyphicon glyphicon-plus glyphicon-plus-project"></span></div>
          <form action="" class="form-inline" style="float:left; display:block">
             <input type='text' class="form-control" datetime-picker ng-model="a.deadline" placeholder='Select deadline'/>

            <input type="text" placeholder="Start typing here to create a task ..." class="form-control" style="width:300px" ng-model="a.name">
            <input type="button" value="Add task" class="btn btn-success" ng-click="createTask(a, project.id)">
          </form>
      </div>
       </div>
    <table class="table" ui-sortable="sortableOptions" ng-model="project.tasks">
      <tbody ng-repeat="task in project.tasks" ng-cloak>
        <tr> 
          <td class=""><input type="checkbox" style="display:block; float:left" ng-model="task.done" ng-click="toggleTask(task.id, task.done)"></td>
          <td class=""><div style="display:block; float:left" ng-cloak>{{::task.name}}<span style="margin-left:5px;"class="label label-primary">due: {{::task.deadline| date: "MM/dd/yyyy hh:mm"}}</span></div></td>
          <td class=""><span class="glyphicon glyphicon-chevron-down" ng-click="task.showComments =! task.showComments"></span></td>
           <td class="myHandle">ss</td>
          <td class=""><span class="glyphicon glyphicon-pencil"></span></td>
          <td class=""><span class="glyphicon glyphicon-trash" ng-click="deleteTask(task.id)"></span></td>
        </tr>
        <tr ng-repeat="comment in task.comments" ng-if="task.showComments">
          <td></td>
          <td class="center-block"><div style="float:left;">{{::comment.text}} at {{::comment.created_at|date: "MM/dd/yyyy h:mma"}}</div></td>
          <td><span class="glyphicon glyphicon-paperclip" ngf-select="upload($file, comment.id, task.id)"></span>
          <td><a  ng-if="comment.attach.url" href="{{comment.attach.url}}" target="_blank">Download attachment</a></td>
          <td><span class="glyphicon glyphicon-trash" ng-click="deleteComment(comment.id)"></span></td>
        </tr>
        <tr ng-if="task.showComments">
          <td colspan="5">
            <form class="form-inline">
              <input type="text" class="form-control" ng-model="a.newComment" placeholder="Text">
              <input class="btn btn-submit " type="button" value="Add new comment" ng-click="createComment(task.id, a.newComment)">
            </form>
          </td>
        </tr> 
      </tbody>
    </table>
    </div>
</div>
  <div class="center-block  btn btn-primary" style="width:150px" ng-click='showCreateProject =!showCreateProject'>
    <span class='glyphicon glyphicon-plus'></span>
  <span >Add TODO List</span>
  </div>   

<div ng-show="showCreateProject" class='center'>
 <form class="form-inline center" >
    <span class="input-group-btn">
  <input type='text' class="form-control" datetime-picker ng-model="newProject.deadline" placeholder='Select deadline'/>
    <input type="text" class="form-control" ng-model="newProject.name" placeholder="Project name" require>
    <input type="submit" class="btn btn-success"ng-click='createProject()'>   
    </span>
  </form>  
</div>