<div ng-repeat="project in projects" ng-cloak>
  <div class="center col-md-12" >
    <div id="panel"  class="center col-md-12" >
      <div class="panel-header col-md-12">
        <div class="glyphicon glyphicon-calendar" style="display:block; float: left"></div>
        <div class="panel project-name"  style="display:block; float: left; width:600px">{{project.name}}</div>
        <div class="glyphicon glyphicon-pencil"></div>
        <div class="glyphicon glyphicon-trash"></div>
      </div>
      <div class="panel-search col-md-12">
      <div class="glyphicon glyphicon-plus " style="float:left"></div>
        <form action="" class="form-inline" style="float:left; display:block">
          <input type="text" class="form-control">
          <input type="button" class= "btn" value="Add task">
        </form>
      </div>
    </div>
  <div ng-repeat="task in project.tasks" ng-cloak>
    <input type="checkbox" style="display:block; float:left">
     <div class="panel" style="display:block; float:left" ng-cloak>{{task.name}}</div>
      <div class="glyphicon glyphicon-chevron-down"></div>
      <div class="glyphicon glyphicon-pencil"></div>
      <div class="glyphicon glyphicon-trash"></div>
      <div class="glyphicon glyphicon-paperclip"></div>

    <div ng-repeat='comment in task.comments'> {{comment}}</div>
  </div>
  </div>
</div>
<div class="button center btn btn-default col-md-2 centered" ng-click='createProject()'>
  <div class=" col-md-6"><span class='glyphicon glyphicon-plus'></span></div>
  <div class='col-md-6' >Add TODO List</div>
</div>
