<div ng-repeat="project in projects" class="container img-rounded" ng-cloak >
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="top-headd headd">
        <span class="glyphicon glyphicon-calendar"></span>
          <div ng-show="!project.showEdit"  class="project-show">
            <span class="project-name" >{{::project.name}}</span>
            <span ng-if="project.deadline">due date:{{::project.deadline| date:"MM/dd/yyyy 'at' HH:mm"}}</span>
          </div>
          <div ng-show="project.showEdit" class="project-editor"> 
            <form class="form-inline" style="display:block; float:left;">
              <span class="input-group-btn">
              <input class="form-control input-sm" datetime-picker ng-model="project.deadline"  date-format="yyyy-MM-dd HH:mm:ss" placeholder='Select deadline'  readonly/>
              <input type="text" class="form-control input-sm" ng-model="project.name" placeholder="Project name" require>
              <input type="submit" class="btn btn-success"ng-click='updateProject(project)' value="Update project">   
              </span>
            </form>  
          </div>
         <span class="glyphicon glyphicon-pencil" ng-click="project.showEdit = ! project.showEdit"> </span>
         <span class="glyphicon glyphicon-trash" ng-click="deleteProject(project.id)"></span>
        </div>
       <div class="bottom-headd headd">
        <div class='glyphicon-plus-wrap'><span class="glyphicon glyphicon-plus glyphicon-plus-project"></span></div>
          <form action="" class="form-inline" style="float:left; display:block">
             <input type='text' class="form-control" datetime-picker   date-format="yyyy-MM-dd HH:mm:ss" ng-model="a.deadline" placeholder='Select deadline'  readonly/>

            <input type="text" placeholder="Start typing here to create a task ..." class="form-control" style="width:300px" ng-model="a.name">
            <input type="button" value="Add task" class="btn btn-success" ng-click="createTask(a, project.id)">
          </form>
      </div>
       </div>
    <table class="table" ui-sortable="sortableOptions" ng-model="project.tasks">
      <tbody ng-repeat="task in project.tasks" ng-cloak>
        <tr> 
          <td style="width:20px"><input type="checkbox" style="display:block; float:left" ng-model="task.done" ng-click="toggleTask(task.id, task.done)"></td>
          <td class="">
          <div ng-show="!task.showEditor" class="task-show"><div style="display:block; float:left" ng-cloak>{{::task.name}}
            <span style="margin-left:5px;"class="label label-primary">due: {{::task.deadline| date: "MM/dd/yyyy HH:mm"}}</span></div></div>
          <div ng-show="task.showEditor" class="task-edit">
           <form class="form-inline" >
              <input type='text' class="form-control input-sm" style="width:170px" datetime-picker   date-format="yyyy-MM-dd HH:mm:ss" ng-model="task.deadline" placeholder='Select deadline' readonly/>
            <input type="text" placeholder="Task message " class="form-control input-sm" style="width:200px" ng-model="task.name">
            <input type="button" value="Update task" class="btn btn-success btn-sm" ng-click="updateTask(task)">

          </form>
          </div>
            
          </td>
          <td class=""><span class="glyphicon glyphicon-chevron-down" ng-click="task.showComments =! task.showComments"></span></td>
          <td class=""><span class="glyphicon glyphicon-pencil"  ng-click="task.showEditor =! task.showEditor"></span></td>
          <td class=""><span class="glyphicon glyphicon-trash" ng-click="deleteTask(task.id)"></span></td>
        </tr>
        <tr ng-repeat="comment in task.comments" ng-if="task.showComments">
          <td></td>
          <td class="center-block"><div style="float:left;">{{::comment.text}} at {{::comment.created_at|date: "MM/dd/yyyy h:mma"}}</div></td>
          <td><span class="glyphicon glyphicon-paperclip" ngf-select="upload($file, comment.id, task.id)"></span>
          <td><a  ng-if="comment.attach.url" href="{{comment.attach.url}}" target="_blank">Download attachment</a></td>
          <td><span class="glyphicon glyphicon-trash" ng-click="deleteComment(comment.id)"></span></td>
        </tr>
        <tr ng-if="task.showComments">
          <td colspan="5">
            <form class="form-inline">
              <input type="text" class="form-control" ng-model="a.newComment" placeholder="Text">
              <input class="btn btn-submit " type="button" value="Add new comment" ng-click="createComment(task.id, a.newComment)">
            </form>
          </td>
        </tr> 
      </tbody>
    </table>
    </div>
</div>
  <div class="center-block  btn btn-primary showCreateProject" style="width:150px" ng-click='showCreateProject =!showCreateProject'>
    <span class='glyphicon glyphicon-plus'></span>
    <span >Add TODO List</span>
  </div>   

<div ng-show="showCreateProject" class='center'>
 <form class="form-inline center" >
    <span class="input-group-btn">
    <input required class="form-control" id="time-select" datetime-picker ng-model="newProject.deadline" date-format="yyyy-MM-dd HH:mm:ss" placeholder='Select deadline' readonly/>
    <input type="text" required class="form-control" ng-model="newProject.name" placeholder="Project name" required>
    <input type="submit" class="btn btn-success"ng-click='createProject()'>   
    </span>
  </form>  
</div>
