<div ng-repeat="project in projects" ng-cloak style=" background-color:white; padding:0; margin-bottom:10px" class="container img-rounded">
  <div  >
    <div class="center col-md-12 panel panel-primary" style="padding:0" >
      <div class="center col-md-12 panel-heading">
        <div class="glyphicon glyphicon-calendar" style="display:block; float: left; font-size:16px;"></div>
        <div class="project-name"  style="display:block; float: left; width:600px;  font-size:16px;">{{project.name}}</div>
        <div ><span class="glyphicon glyphicon-pencil" style="display:block; float: left;  font-size:16px;" ng-click="project.showEdit=true"> </span></div>
        <div><span class="glyphicon glyphicon-trash" style="display:block; float: left;  font-size:16px;" ng-click="deleteProject(project.id)"></span></div>
        <div ng-show="project.showEdit()"></div>
      </div>
      <div class="panel-search col-md-12" style="background-color:lightgrey">
        <div style="float:left; font-size:20px; color:green">
          <span class="glyphicon glyphicon-plus"></span>
        </div>
        <form action="" class="form-inline" style="float:left; display:block">
          <input type="text" placeholder="Start typing here to create a task ..." class="form-control" style="width:600px" ng-model="newTask.name">
          <input type="button" value="Add task" class="btn btn-success" ng-click="createTask(project.id)">
        </form>
      </div>
    </div>
    <table class="table ">
      <tbody ng-repeat="task in project.tasks" ng-cloak>
        <tr>
          <td class=""><input type="checkbox" style="display:block; float:left"></td>
          <td class=""><div style="display:block; float:left" ng-cloak>{{task.name}}</div></td>
          <td class=""><span class="glyphicon glyphicon-chevron-down" ng-click="task.showComments =! task.showComments"></span></td>
          <td class=""><span class="glyphicon glyphicon-pencil"></span></td>
          <td class=""><span class="glyphicon glyphicon-trash" ng-click="deleteTask(task.id)"></span></td>
        </tr>
        <tr ng-repeat="comment in task.comments" ng-show="task.showComments">
          <td class="center-block">
            <div style="float:left;">{{comment}}</div><div style="float:left;"><span class="glyphicon glyphicon-trash" ng-click="deleteComment(comment.id)"></span><span class="glyphicon glyphicon-paperclip"></span></div>
            <div class="button" ngf-select="upload($file, comment._id.$oid, task._id.$oid)">Upload on file select</div>
          </td>
        </tr>
        <tr ng-show="task.showComments">
          <td colspan="5">
            <form><input type="text" ng-model="a.newComment" placeholder="new comment!"> <input type="button" ng-click="createComment(task.id, a.newComment)"></form>
          </td>
        </tr> 
      </tbody>

    </table>
  </div>
</div>
<div class="center-block btn btn-primary" style="width:150px" >
  <div class="btn btn-primary" style="width:150px" ng-click='showCreateProject =!showCreateProject'>
    <span class='glyphicon glyphicon-plus'></span>
  <span >Add TODO List</span>
  </div>   
</div>

<div ng-show="showCreateProject">
  <form>
    <input type="text" ng-model="newProject.name" placeholder="Project name" require>
    <p class="input-group">
    <input type="text" class="form-control" datetime-picker="dd MMM yyyy HH:mm" ng-model="newProject.dateTime" is-open="isOpen"  />
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="openCalendar($event, prop)">
        <i class="glyphicon glyphicon-calendar"></i>
        </button>
    </span>
</p>
    <input type="submit" ng-click='createProject()'>
     
  </form>    
</div>



